.team-details-container {
  background-image: linear-gradient(#d91c1f, #a4261d, #1e293b);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;
}
.team-page-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.team_banner {
  width: 100%;
}
.latest-matches {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Bree Serif';
}
.match-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}
.link-btn {
  align-self: center;
}
.btn-back {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  background-color: #3b82f6;
  border: none;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}
